body{
    background-color: rgb(255, 243, 228);
}
input{
    display: none;
}
label{
    display: block;
}

.h1{
    font-size: 1.5em; 
}
.main-container{
    margin:  auto;
    width: 60vw;
}
.meme-container{
    border-top: solid rgb(171, 163, 161) 0.05em ;
}
.meme-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.open-icon{
    display: none;
    margin-left: 1em;
}
.open-icon path{
    stroke: black;
}
.meme-text{
    font-weight: 700;
    font-size: 1em;
    margin: 0.7em 0em;
    color: blue;
}
.meme-img{
    display: none;
    width: 50%;
    margin: auto;
    transition-property: all;
    transition-duration: 1s;
    padding-bottom: 1em;
}


/*-------------------------------------------------------*/


.bayen-container:hover .meme-text {
    color: black;
}
.meme-container:hover label {
    cursor: pointer;
}
.bayen-container:hover .open-icon{
    display: block;
}

.meme-container:hover .open-icon{
   transform: rotate(45deg);
}

.meme-container:hover .meme-img{
   display: block;
 }
 
.meme-container:active .meme-text{
    color: blue;

}
.meme-container:active{
    filter: contrast(40%) brightness(140%);   
}
.meme-container:active path{
    stroke: blue;
}
/*----------------------------------------------------------------*/

input:checked ~ * .meme-img{
    display: block;
}

input:checked ~ * .meme-text{
    color:black;
}

/*----------------------------------------------------------------*/






@media (min-width: 320px){
    .h1{
        font-size: 2em; 
    }
    .meme-text{
        font-size: 1.3em;
    }  

}
@media (min-width: 820px){
    .h1{
        font-size: 2em; 
    }
    .main-container{
        width: 60vw;
    }
    .meme-text{
        font-size: 2em;
    }    
}

@media (min-width: 1920px){
    .main-container{
        width: 50vw;
    }
 
}
